{% extends 'layouts/base.html' %}

{% block 'title' %} Article  {%endblock%}
{% block 'content' %}

<div class="container marge-top-12">
    <div class="grid-3">
        <div class="title">{{article.title }} ({{article.date}})</div>
      <div class="max">
            {{article.content}}
      </div>
      <div>
        <button class="btn btn-secondary"> <a class="text-white" href="{% url 'article.edit' article.id %}">Editer </a> </button>
        <button class="btn btn-danger"> <a href="{% url 'article.delete' article.id %}" class="text-white">  supprimer </a></button>
      </div>
    </div>
    
</div>

{%endblock%}